@import '../../../scss/theme.scss';

.menu-bar{
    width: 100%;
    height: 70px;
    display: block;
    padding-top:18px;
    padding-left: 18px;
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,.125);
    .header{
        font-size:1.4em;
        color: $tertiary-color;
        font-weight: 600;
        padding: 15px;
        float: left;
        h3{
            margin: 0;
            font-size: 0.8em;
            font-weight: 500;
            color: $primary-color * 1.3;
            line-height: 3px;
        }
        small{
            font-size: 0.6em;
        }
        span{
            color: $primary-color * 1.3;
        }
    }
}

.footer{
    height: 30px;
    width: 100%;
    position: fixed;
    bottom:0;
    background-color: #fff;
    border-top: 1px solid rgba(0,0,0,.125);
}

.table{
    margin: 10px;
    border-spacing: 0;
    width: calc(100% - 20px);
    -webkit-box-shadow: 1px 2px 5px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 2px 5px -1px rgba(0,0,0,0.75);
    box-shadow: 1px 2px 5px -1px rgba(0,0,0,0.75);
    tr{
        td{
            padding: 10px;
        }
        th{
            padding: 10px;
        }
    }
    thead tr{
        background-color: #fff;
        width: 100%;
        text-align: left; 
        th{
            padding-left: 20px;
            border-bottom: 1px solid rgba(0,0,0,.125);
        }
    }
    tbody tr{
        background-color: #fff;
        &:nth-child(even){
            background-color: #ececec;
        }
        td{
            padding-left: 20px;
        }    
    }
    

    
}