<div class="menu-bar">
    <div class="header"><h3>ITEMS</h3><small><span>Home</span> > Items</small></div>
     text from search: {{ sharedService.filterText }}
</div>
    <table class="table">
        <thead>
            <tr>
                <th>Item Code</th>
                <th>Unit</th>
                <th>Description</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
        </thead>
  
        <tbody>
           <tr *ngFor="let item of items">
             <td>{{ item.item_code }}</td>
             <td>{{ item.unit }}</td>
             <td>{{ item.description}}</td>
             <td>{{ item.price }}</td>
             <td></td>
           </tr>
        </tbody>
    </table>
<div class="footer">

</div>