<div class="menu-bar">
    <div class="header"><h3>ITEMS</h3><small><span>Home</span> > Items</small></div>

     <div class="action-wrapper">
        <weng-button value="Add Item"></weng-button>
       
     </div>
</div>
  <div class="table-container">
      <table class="table">
          <thead>
              <tr>
                  <th width="20%">Item Code</th>
                  <th width="10%">Unit</th>
                  <th>Description</th>
                  <th>Price</th>
                  <th>Action</th>
              </tr>
          </thead>
    
          <tbody>
             <tr *ngFor="let item of items">
               <td>{{ item.code }}</td>
               <td>{{ item.unit }}</td>
               <td>{{ item.description}}</td>
               <td>{{ item.price }}</td>
               <td></td>
             </tr>
          </tbody>
      </table>
  </div>
    
<div class="footer">
    <weng-pagination (onClick)="OnPaginateClick($event)" [pageDetail]="pageDetail"></weng-pagination>
</div>