@import "theme";
@import "animations";

//@list 
ul.list-vertical{
    width: 100%;
    display: block;
    height: auto;
    padding: 0;
    position: relative;
    margin: 0;
    background: transparent;
    li.list-item{
        width: 100%;
        display: block;
    }
    
}
ul.list-horizontal{
    margin: 0;
    display: inline;
    background: transparent;
    padding: 0;
    li.list-item{
        display: inline-block;
    }
}

li.list-item{
    outline: none;
    padding: 15px;
    list-style-type: none;
    position: relative;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    @if(lightness($tertiary-color) < 50){
        color: #fff;
    }
    &:hover{
        background-color: rgba(0,0,0,.125);
        border-color: rgba(0,0,0,.125);
        cursor: pointer;
    }
}

//@content

.container{
    display: block;
    overflow: hidden;
    margin-top: 50px;
    width: 100%;
    height: calc(100vh - 50px);
    background-color: $bg-color;
    @if(lightness($bg-color) < 50){
        color: #fff;
    }

    &.minimize{
        margin-left: 300px;
        width: calc(100% - 300px);
        transition: 300ms;
    }
    &.maximize{
        margin-left: 0;
        transition: 300ms;
    }
}

//@card

.card{
    padding: 15px;
    border-radius: 3px;
    background-color: #fff;
    margin: 20px;
    border: 1px solid rgba(0,0,0,.125);
    -webkit-box-shadow: 3px 3px 11px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 11px -2px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 11px -2px rgba(0,0,0,0.75);
    .header{
        font-size: 1.4em;
        color: #000;
        border-bottom: 2px solid rgba(0,0,0,.125);
    }
}

//@modal
.modal-wrapper{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.125);
    z-index: 1000;
    left:0;
    top:0;
    .modal{
        background-color: #fff;
        border-radius: 5px;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        
        &.sm{
            width: 600px;
            height: 600px;
        }
    }
}


//@media screen

/* Extra small devices (phones, 600px and down) */
.screen-sm{
    @media only screen and (max-width: 600px) {
        display: none;
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
// @media only screen and (min-width: 600px) {...} 

/* Medium devices (landscape tablets, 768px and up) */
// @media only screen and (min-width: 768px) {...} 

/* Large devices (laptops/desktops, 992px and up) */
// @media only screen and (min-width: 992px) {...} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
// @media only screen and (min-width: 1200px) {...}