$colors: (
    #f1a94e,
    #3179cd,
    #44b3c2,
    #dd533f
);

// $primary-color: #1a2126;
$secondary-color: #1a2126;
$tertiary-color: #313d44;

// $bg-color: #f4f4f4;
// $bg-color: #18232b;
$bg-color: #ecf0f5;
$style: "rounded";
$primary-color: nth($colors, 4);

