@import '../../scss/theme.scss';

.btn{
   
    outline: none;
    font-weight: 500;
    background-color: $primary-color;
    display: inline;
    margin-right: 10px;
    position: relative;
    overflow: hidden;
    font-size: 0.8em;
    border: 1px solid rgba(0,0,0,.125);
    -webkit-box-shadow: 1px 2px 5px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 2px 5px -1px rgba(0,0,0,0.75);
    box-shadow: 1px 2px 5px -1px rgba(0,0,0,0.75);
    span.btn-wrapper{
        position: absolute;
        height: 100%;
        width: 100%;
        top:0;
        left: 0;
        padding-top:10px;
        text-align: center;
    }
    
    // @if($style == "rounded"){
    //     border-radius: 50px;
    // }@else{
        border-radius: 2px;
    // }
        color: #fff;
    &:hover > span.btn-wrapper{
        cursor: pointer;
        background-color: rgba(0,0,0,.125);
    }

    &.stretch{
        width: 100%;
        display: block;
    }
}

button.btn{
    padding: 10px 25px 10px 25px;
}