@import '../../scss/theme.scss';
@import '../../scss//commons.scss';


.nav-bar{
    background-color: $primary-color * 1.2;
    display: block;
    height: 55px;
    width: 100%;
    position: fixed;
    top:0;
    left: 0;
    border: 1px solid rgba(0,0,0,.125);
    z-index: 1000;
    -webkit-box-shadow: 1px -2px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px -2px 5px 1px rgba(0,0,0,0.75);
    box-shadow: 1px -2px 5px 1px rgba(0,0,0,0.75);
    
    &.minimize{
        margin-left: 300px;
        width: calc(100% - 300px);
        transition: 300ms;
    }

    &.maximize{
        margin-left: 0;
        width: 100%;
        transition: 300ms; 
    }
    .brand-logo{
        height: 100%;
        float: left;
        padding: 15px;
        position: relative;
        @if(lightness($secondary-color) < 50){
            color: #fff;
        }
        &:hover{
            cursor: pointer;
        }
        &.fade-out{
            opacity: 0;
            transition: 300ms;
            visibility: hidden;
        }
        &.fade-in{
            opacity: 1;
            transition: 300ms;
        }
    }
    .menu-right{
        position: relative;
        float: right;
        color: #fff;
        display: inline;
        input.search{
            height: 100%;
            width: 300px;
            padding: 7px;
            padding-left: 40px;
            background-image: url("../../../assets/icons/search_icon.svg");
            background-repeat: no-repeat;
            background-size: 15px;
            background-position-x: 5%;
            background-position-y: 7px;
            @if($style== "rounded"){
                border-radius: 50px;
            }@else{
                border-radius: 3px;
            }
            outline: none;
            border: 1px solid rgba(0,0,0,.125);
            margin-left: 10px;
            margin-right: 10px;
            @extend .screen-sm;
        }

        .log-out{
            border-radius: 5px;
            width: 200px;
            height: 200px;
            background-color: #fff;
            visibility: hidden;
            position: absolute;
            bottom: -210px;
            right: 0;
            -webkit-box-shadow: 1px 2px 5px -1px rgba(0,0,0,0.75);
            -moz-box-shadow: 1px 2px 5px -1px rgba(0,0,0,0.75);
            box-shadow: 1px 2px 5px -1px rgba(0,0,0,0.75);
            &.show{
                visibility: visible;
            }
        }
    }
}

