<div class="nav-bar" [class.minimize]="maximize" [class.maximize]="!maximize">
    <div class="brand-logo" (click)="toggleSideNav()" [class.fade-out]="maximize" [class.fade-in]="!maximize">Wilma Store</div>
    <div class="menu-right">
        <input class="search" type="search" placeholder="Search..." (keyup)="onEnter($event, search.value)" #search>
        <ul class="list-horizontal">
                <li class="list-item" (click)="showLogout = showLogout === true ? false : true">Logout</li>
        </ul>
        <div class="log-out" [class.show]="showLogout" *ngIf="showLogout">
            dwa
        </div>
    </div>
</div>
