<div class="menu-bar">
    <div class="header"><h3>Inventory</h3><small><span>Home</span> > Items</small></div>

     <div class="action-wrapper">
        <weng-button value="Add Item"></weng-button>
       
     </div>
</div>
  <div class="table-container">
      <table class="table">
          <thead>
              <tr>
                  <th width="20%">Item Code</th>
                  <th width="10%">Unit</th>
                  <th>Description</th>
                  <th>Price</th>
                  <th>Warehouse</th>
                  <th>Stocks</th>
                  <th>Action</th>
              </tr>
          </thead>
    
          <tbody>
             <tr *ngFor="let st of stocks">
               <td>{{ st.item.code }}</td>
               <td>{{ st.item.unit }}</td>
               <td>{{ st.item.description }}</td>
               <td>{{ st.item.price }}</td>
               <td>{{ st.warehouse }}</td>
               <td>{{ st.stocks }}</td>
               <td></td>
             </tr>
          </tbody>
      </table>
  </div>
    
<div class="footer">
  <weng-pagination></weng-pagination>
</div>